$primary-color: #e1e6e1;
$brand-color: whitesmoke;
$footer-color: lightgray;
$footer-icons: #333;
$facebook-footer: #3b5998;
$twitter-footer: #4099ff;
$googlePlus-footer: #d34836;
$email-footer: #f39c12;
$blockquote: #eceeef;
$heading: #1a1a1a;
